<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
<body>
<div id='wrap'>
	<section>
		<div class="container" th:replace="fragments/common :: menu('adminBook')"/>
		<main role="main" class="container pt-4">
			<div class="container" data-aos="fade-up">
				<h3 class="pb-1 font-italic">Product Edit</h3>
				<form th:action="@{/admin/book/edit/{bookId}(bookId=*{id})}" method="post" role="form"
				      th:object="${bookDto}" enctype="multipart/form-data">
					<input type="hidden" name="_method" value="put"> <!-- HiddenHttpMethodFilter 사용 -->
					<input type="hidden" th:field="*{id}">

					<!-- 이미지 미리보기, 분류, 등록인, 등록일 -->
					<div class="form-row pt-4">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">책 이미지</p>
							<img class="form-control" id="thumbnail_container" th:src="'/files/' + *{thumbnailName}"
							     style="max-width: 100%; height: 250px;">
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">분류</p>
							<select class="custom-select" th:field="*{type}">
								<option value="DOMESTIC">국내도서</option>
								<option value="INTERNATIONAL">외국도서</option>
							</select>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">등록인</p>
							<input type="text" class="form-control" th:field="*{uid}" readonly>
							<p class="my-1">등록일</p>
							<input type="text" class="form-control" th:field="*{regDate}" readonly>
						</div>
					</div>
					<!--// 이미지, 분류, 등록인, 등록일 -->

					<!-- 이미지 파일 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">이미지<strong style="color:#dc3545"> &#149</strong></p>
							<div class="custom-file">
								<input type="file" class="custom-file-input"
								       th:classappend="${#fields.hasErrors('thumbnail')} ? 'is-invalid'"
								       id="thumbnail" th:field="*{thumbnail}"
								       th:onchange="'javascript:fileUpload(event)'" accept="image/*">
								<label class="custom-file-label" for="thumbnail"
								       th:if="*{thumbnailName == 'noImage.jpg'}">파일을 선택해주세요</label>
								<label class="custom-file-label" for="thumbnail"
								       th:if="*{thumbnailName != 'noImage.jpg'}" th:text="*{thumbnailName}"></label>
								<input type="hidden" th:field="*{thumbnailName}">
								<input type="hidden" th:field="*{thumbnailPath}">
								<p class="invalid-feedback" th:if="${#fields.hasErrors('thumbnail')}"
								   th:errors="*{thumbnail}">error message</p>
							</div>
						</div>
					</div>
					<!--// 이미지 파일 -->

					<!-- 제목, 부제목, 저자 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">제목<strong style="color:#dc3545"> &#149</strong></p>
							<input type="text" class="form-control"
							       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" th:field="*{title}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error
								message</p>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">부제목<strong style="color:#dc3545"> &#149</strong></p>
							<input type="text" class="form-control"
							       th:classappend="${#fields.hasErrors('subTitle')} ? 'is-invalid'"
							       th:field="*{subTitle}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('subTitle')}"
							   th:errors="*{subTitle}">error message</p>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">저자<strong style="color:#dc3545"> &#149</strong></p>
							<input type="text" class="form-control"
							       th:classappend="${#fields.hasErrors('author')} ? 'is-invalid'" th:field="*{author}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{author}">
								error message</p>
						</div>
					</div>
					<!--// 제목, 부제목, 저자 -->

					<!-- 수량, 출판사, 발행일 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">수량<strong style="color:#dc3545"> &#149</strong></p>
							<input type="number" maxlength="8" th:oninput="'javascript:numberMaxLength(this)'"
							       class="form-control" th:classappend="${#fields.hasErrors('quantity')} ? 'is-invalid'"
							       th:field="*{quantity}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}"
							   th:errors="*{quantity}">error message</p>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">출판사<strong style="color:#dc3545"> &#149</strong></p>
							<input type="text" class="form-control"
							       th:classappend="${#fields.hasErrors('publisher')} ? 'is-invalid'"
							       th:field="*{publisher}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('publisher')}"
							   th:errors="*{publisher}">error message</p>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">발행일<strong style="color:#dc3545"> &#149</strong></p>
							<input type="date" class="form-control"
							       th:classappend="${#fields.hasErrors('publishedDate')} ? 'is-invalid'"
							       th:field="*{publishedDate}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('publishedDate')}"
							   th:errors="*{publisher}">
								error message</p>
						</div>
					</div>
					<!--// 수량, 출판사, 발행일 -->

					<!-- 가격, 할인률, 할인가 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">가격<strong style="color:#dc3545"> &#149</strong></p>
							<input type="number" maxlength="8" th:oninput="'javascript:numberMaxLength(this)'"
							       class="form-control" th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'"
							       th:field="*{price}">
							<p class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">error
								message</p>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">할인율</p>
							<select class="custom-select" th:field="*{disRate}">
								<option value="0">0%</option>
								<option value="5">5%</option>
								<option value="10">10%</option>
								<option value="15">15%</option>
								<option value="30">30%</option>
								<option value="50">50%</option>
							</select>
						</div>
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">할인가</p>
							<input type="number" class="form-control" th:field="*{disPrice}" readonly>
						</div>
					</div>
					<!--// 가격, 할인률, 할인가 -->

					<!-- 배송비 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">배송비</p>
							<select class="custom-select" th:field="*{shippingFee}">
								<option value="0" selected>무료배송</option>
								<option value="2000">2000원</option>
								<option value="3000">3000원</option>
							</select>
						</div>
					</div>
					<!--// 배송비 -->

					<!-- 설명 및 줄거리 -->
					<div class="form-row">
						<div class="col-md-12 pb-3 form-group">
							<p class="my-1">설명 및 줄거리</p>
							<textarea class="form-control" style="height: 250px;" th:field="*{content}"
							          placeholder="설명 및 줄거리를 간략하게 입력해주세요."></textarea>
						</div>
					</div>
					<!--// 설명 및 줄거리 -->

					<div class="pb-5 text-right">
						<a th:href="@{/admin/book/{bookId}(bookId=*{id})}"
						   class="btn btn mr-2 mb-2 btn-outline-secondary">이전으로</a>
						<button type="submit" class="btn btn mr-2 mb-2 btn-outline-primary">저장하기</button>
					</div>

				</form>
			</div>
		</main>
	</section>
	<footer th:replace="fragments/common :: footer"/>
</div>
</body>
<script>
    /* 파일이미지 업로드 */
    function fileUpload(event) {
        if (document.getElementById("thumbnail").files[0] !== undefined) {
            let fileName = document.getElementById("thumbnail").files[0].name;
            let fileType = document.getElementById("thumbnail").files[0].type;
            if (fileType.indexOf('image') == -1) {
                alert("이미지 파일만 업로드 가능합니다.")
                $('#thumbnail').val('');
                $('#thumbnail').next('.custom-file-label').html("파일을 선택하세요.");
                document.getElementById("thumbnail_container").src = "../../images/noImage.jpg";
                return false;
            }
            $('#thumbnail').next('.custom-file-label').html(fileName);
            /* 썸네일 미리보기 */
            for (let thumbnail of event.target.files) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    document.getElementById("thumbnail_container").src = event.target.result;
                };
                reader.readAsDataURL(thumbnail);
            }
        }
    }

    /* 할인가 자동계산 */
    document.body.onclick = function () {
        if (document.getElementById("price").value !== '0') {
            let price = document.getElementById("price").value;
            let disRate = document.getElementById("disRate").value;
            document.getElementById("disPrice").value = Math.round(price - (price * (disRate / 100)));
        }
    }

    /* type=number -> 자릿수 제한 */
    function numberMaxLength(e) {
        if (e.value.length > e.maxLength) {
            e.value = e.value.slice(0, e.maxLength);
        }
    }
</script>
</html>