<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('store - 콘아롱 책방')"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<body>
<div id='wrap'>
	<section>
		<div class="container" th:replace="fragments/common :: menu('adminBook')"/>
		<div class="container pt-4">

			<!-- 로딩 화면 -->
			<div class="loading-custom" id="loadingStatus" role="status">
				<button class="row btn btn-secondary" type="button">
					<span class="spinner-border spinner-border" aria-hidden="true"></span>
					<span>책 가져오는중...</span>
					<br>
					<span>1분 내외가 소요됩니다.</span>
				</button>
			</div>
			<!--// 로딩 화면 -->

			<h3 class="pb-4 blog-header-logo">ALL ITEMS</h3>

			<!-- 크롤링 및 게시글 검색 -->
			<small class="col mb-1 d-flex justify-content-end">크롤링 주소 : 교보문고 국내, 국외 베스트셀러 (데이터는 중복저장 되지 않습니다)</small>
			<strong class="col mb-1 d-flex justify-content-end">* 검색가능 여부 : 제목, 작가명, 출판사</strong>
			<form class="pb-1 form-inline d-flex" method="get" th:action="@{/book}">
				<strong class="mr-auto p-2">총 건수 : <span th:text="${bookDtoList.totalElements}"></span></strong>
				<a href="#" th:if="${#authentication.authorities.size() == 3}"
				   class="col-2 btn btn mr-2 mb-2 btn-outline-secondary" id="korea" th:onclick="|crawling(this)|">국내도서 크롤링</a>
				<a href="#" th:if="${#authentication.authorities.size() == 3}"
				   class="col-2 btn btn mr-2 mb-2 btn-outline-secondary" id="foreign" th:onclick="|crawling(this)|">외국도서 크롤링</a>
				<a th:href="@{/book/addForm}" class="col-2 btn btn mr-2 mb-2 btn-outline-secondary">책 수동 등록하기</a>
				<div class="form-group mx-sm-2 mb-2">
					<input type="text" class="form-control form-control-sm" id="searchTerm" name="searchTerm" th:value="${param.searchTerm}">
				</div>
				<button type="submit" class="btn btn-sm mr-2 mb-2 btn-outline-secondary">검색</button>
			</form>
			<!--// 크롤링 -->

			<!-- 책 목록 -->
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<tr>
						<th class="pl-3">번호</th>
						<th>분류</th>
						<th>제목</th>
						<th class="pl-4 text-center">작가</th>
						<th class="pl-4">출판사</th>
						<th>수량</th>
						<th>등록인</th>
						<th>등록일</th>
						<th>
							<a style="text-decoration:none" class="d-flex justify-content-center pl-3">관리</a>
						</th>
					</tr>
					<tr th:each="book : ${bookDtoList}">
						<td class="pl-4" th:text="${book.id}">번호</td>
						<td th:if="${book.type.toString() == 'DOMESTIC'}">국내도서</td>
						<td th:if="${book.type.toString() == 'INTERNATIONAL'}">외국도서</td>
						<td>
							<a style="text-decoration:none" th:text="${book.title}" th:href="@{/book/{bookId}(bookId=${book.id})}">제목</a>
						</td>
						<td class="pl-4 text-center" th:text="${book.author}">작가</td>
						<td class="pl-4" th:text="${book.publisher}">출판사</td>
						<td th:text="${book.quantity}">수량</td>
						<td th:text="${book.uid}">등록인</td>
						<td th:text="${book.regDate}">등록일</td>
						<td class="pl-5">
							<a style="text-decoration:none" th:href="@{/book/{bookId}(bookId=${book.id})}">
								<i class="fa fa-gear"></i>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<!--// 책 목록 -->

			<!-- 페이징 처리 -->
			<nav aria-label="Page navigation example" th:if="${bookDtoList.totalElements != 0}">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${1 == bookDtoList.pageable.pageNumber + 1} ? 'disabled'">
						<a class="page-link" th:href="@{/book(page=${bookDtoList.pageable.pageNumber}-1, searchTerm=${param.searchTerm})}" tabindex="-1" aria-disabled="true">이전</a>
					</li>
					<li class="page-item" th:classappend="${page == bookDtoList.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
						<a class="page-link" th:href="@{/book(page=${page} - 1, searchTerm=${param.searchTerm})}" th:text="${page}">1</a>
					</li>
					<li class="page-item" th:classappend="${bookDtoList.totalPages == bookDtoList.pageable.pageNumber + 1} ? 'disabled'">
						<a class="page-link" th:href="@{/book(page=${bookDtoList.pageable.pageNumber} + 1, searchTerm=${param.searchTerm})}">다음</a>
					</li>
				</ul>
			</nav>
			<!-- // 페이징 처리 -->

		</div>
	</section>
	<footer th:replace="fragments/common :: footer"/>
</div>
</body>
<script>
	/* 국내도서 크롤링 */
	function crawling(e){
	    let type = e.id;
	    let typeText;
	    if(type == 'korea'){
            typeText = '국내도서';
	    }else if(type == 'foreign'){
            typeText = '외국도서';
	    }else{
	        return;
	    }
	    if(confirm(typeText+"를 크롤링 하시겠습니까?") == true){
            showLoading();
	        $.ajax({
		        url: '/api/crawling/' + type,
		        type: 'POST',
		        success: function (){
                    hideLoading()
		            alert("크롤링이 성공적으로 완료되었습니다")
			        window.location.href = '/book';
		        },
		        error: function (){
		            alert("컨넥션 타임아웃, 잠시후 다시 시도해주세요")
                    hideLoading()
		        }
	        });
	    }
	}
</script>
<!-- 로딩 화면 -->
<script th:src="@{/js/loading.js}"></script>
</html>
