<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
<body>
<div id='wrap'>
	<section>
		<div class="container" th:replace="fragments/common :: menu('adminBook')"/>
		<main role="main" class="container pt-4">
			<div class="container" data-aos="fade-up">
				<h3 class="pb-3 font-italic">User Details</h3>
				<form th:action="@{/admin/edit/{userId}(userId=*{id})}" method="post" role="form"
				      th:object="${userDto}">

					<!-- 프로필사진, 아이디, 권한, 가입일-->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 pb-3 form-group">
							<p class="my-1">프로필 사진</p>
							<img class="form-control" id="thumbnail_container" th:src="'/files/' + *{profileUseDto}"
							     style="max-width: 100%; height: auto;">
							<input type="hidden" th:field="*{profileUseDto}">
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">아이디</label>
							<input type="text" class="form-control" th:field="*{uid}" readonly>
							<label class="my-1">가입일</label>
							<input type="text" class="form-control" th:field="*{sinceUseDto}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">권한</label><br>
							<input type="hidden" th:field="*{roleUseDto}">
							<div style="background-color: #e9ecef; border: 1px solid #ced4da; border-radius: .25rem; padding: .375rem .75rem">
								<label for="ROLE_USER" class="my-1">ROLE_USER</label>
								<input type="checkbox" id="ROLE_USER" value="ROLE_USER" th:field="*{roleUseDto}" disabled><br>
								<label for="ROLE_MANAGER" class="my-1">ROLE_MANAGER</label>
								<input type="checkbox" id="ROLE_MANAGER" value="ROLE_MANAGER" th:field="*{roleUseDto}" disabled><br>
								<label for="ROLE_ADMIN" class="my-1">ROLE_ADMIN</label>
								<input type="checkbox" id="ROLE_ADMIN" value="ROLE_ADMIN" th:field="*{roleUseDto}" disabled><br>
							</div>
						</div>
					</div>
					<!--// 프로필사진, 아이디, 권한, 가입일-->

					<!-- 이름, 휴대전화, 닉네임 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">이름</label>
							<input type="text" class="form-control" th:field="*{name}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">휴대전화</label>
							<input type="text" class="form-control" th:field="*{phone}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">닉네임</label>
							<input type="text" class="form-control" th:field="*{nickname}" readonly>
						</div>
					</div>
					<!--// 이름, 휴대전화, 닉네임 -->

					<!-- 이메일, 생년월일, 성별 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">이메일</label>
							<input type="text" class="form-control" th:field="*{email}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">생년월일</label>
							<input type="text" class="form-control" th:field="*{birth}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">성별</label>
							<input type="text" class="form-control" th:field="*{gender}" readonly>
						</div>
					</div>
					<!--// 이메일, 생년월일, 성별 -->

					<!-- 주소 -->
					<div class="form-row">
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">우편번호</label>
							<input type="text" class="form-control" th:field="*{postcode}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">주소</label>
							<input type="text" class="form-control" th:field="*{address}" readonly>
						</div>
						<div class="col-lg-4 col-md-6 form-group">
							<label class="my-1">상세주소</label>
							<input type="text" class="form-control" th:field="*{detailAddress}" readonly>
						</div>
					</div>
					<!--// 주소 -->

					<div class="pb-5 text-right">
						<a th:href="@{/admin/user}" class="btn btn mr-2 mb-2 btn-outline-secondary">목록으로</a>
						<button type="submit" class="btn btn mr-2 mb-2 btn-outline-primary">수정하기</button>
					</div>

				</form>
			</div>
		</main>
	</section>
	<footer th:replace="fragments/common :: footer"/>
</div>
</body>
</html>