<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
<body>
<div id='wrap'>
    <section>
        <div class="container" th:replace="fragments/common :: menu('adminBook')"/>
        <main role="main" class="container pt-4">
            <div class="container" data-aos="fade-up">
                <h3 class="pb-1 font-italic">User Details</h3>
                <form action="" method="post" role="form">


                    <!-- 5행 -->
                    <div class="form-row">
                        <div class="col-lg-4 col-md-6 pb-3 form-group">
                            <p class="my-1">프로필 사진</p>
                            <img class="form-control" id="thumbnail_container" th:src="'/files/'+${user.profileUseDto}" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">아이디</label>
                            <input type="text" class="form-control" th:value="${user.uid}" readonly>
                            <p class="my-1">권한</p>
                            <input type="text" class="form-control" name="publisher" id="publisher" th:value="${user.getRoleUseDto()}" readonly>
                        </div>
                    </div>

                    <!-- 1행 -->
                    <div class="form-row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">이름</label>
                            <input type="text" class="form-control" th:value="${user.name}" readonly>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">휴대전화</label>
                            <input type="text" class="form-control" th:value="${user.phone}" readonly>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">닉네임</label>
                            <input type="text" class="form-control" th:value="${user.nickname}" readonly>
                        </div>
                    </div>

                    <!-- 2행 -->
                    <div class="form-row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">이메일</label>
                            <input type="text" class="form-control" th:value="${user.email}" readonly>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">생년월일</label>
                            <input type="text" class="form-control" th:value="${user.birth}" readonly>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">성별</label>
                            <input type="text" class="form-control" th:value="${user.gender}" readonly>
                        </div>
                    </div>
                    <!-- 4행 -->
                    <div class="form-row">
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">우편번호</label>
                            <input type="text" class="form-control" th:value="${user.postcode}" readonly>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">주소</label>
                            <input type="text" class="form-control" th:value="${user.address}" readonly>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                            <label class="my-1">상세주소</label>
                            <input type="text" class="form-control" th:value="${user.detailAddress}" readonly>
                        </div>
                    </div>

                    <div class="pb-3 form-group">
                        <p class="my-1">자기소개</p>
                        <textarea class="form-control" name="message" readonly></textarea>
                    </div>


                    <div class="pb-5 text-right">
                        <a th:href="@{/admin/user}" class="btn btn mr-2 mb-2 btn-outline-secondary">돌아가기</a>
                        <a th:href="@{/admin/user}" class="btn btn mr-2 mb-2 btn-outline-primary">수정</a>
                        <a th:href="@{/admin/user}" class="btn btn mr-2 mb-2 btn-outline-danger">삭제</a>
                    </div>
                </form>
            </div>
        </main>
    </section>
    <footer th:replace="fragments/common :: footer"/>
</div>
</body>
</html>