<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
<body>
    <div id='wrap'>
        <section>
            <div class="container" th:replace="fragments/common :: menu('items')"/>
            <main role="main" class="container pt-4">
                <form action="#" th:action="@{/board/add}" th:object="${boardDto}" method="post">
                    <h3 class="pb-4 blog-header-logo">
                        Add Post
                    </h3>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" placeholder="제목을 입력해주세요.">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            제목 에러 메시지
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control"
                                  th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" id="content" rows="3" th:field="*{content}" placeholder="내용을 입력해주세요."></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                            내용 에러 메시지
                        </div>
                    </div>
                    <div class="pb-5 text-right">
                        <a href="#" th:href="@{/board}" class="btn btn-outline-secondary">돌아가기</a>
                        <button href="#" type="submit" class="btn btn-outline-primary">저장하기</button>
                    </div>
                </form>
            </main>
        </section>
        <footer th:replace="fragments/common :: footer"/>
    </div>
</body>
</html>