<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<body>
    <div id='wrap'>
        <section>
            <div class="container" th:replace="fragments/common :: menu('board')"/>

            <!-- 메인 container -->
            <main role="main" class="container pt-4">

                <div class="row mt-5 d-flex justify-content-between">
                    <div class="col-3">
                        <div>
                            <h4>게시판</h4>
                        </div>
                    </div>
                    <div class="col-7 d-flex justify-content-end align-items-center">
                        <div class="mb-1">
                            <strong>* 게시글 검색하기</strong>
                            <small>검색가능 여부 : 제목, 내용</small>
                        </div>
                    </div>
                </div>

                <!-- 게시글 검색 -->
                <form class="form-inline" method="get" th:action="@{/board}">
                    <div class="mr-auto p-2">
                        <strong th:text="|총 건수 : ${boardDtoList.totalElements}|"></strong>
                    </div>
                    <div class="form-group mx-sm-2 mb-2">
                        <input type="hidden" name="type" th:value="${param.type}">
                        <input type="text" class="form-control form-control-sm" id="searchTerm" name="searchTerm" th:value="${param.searchTerm}">
                    </div>
                    <button type="submit" class="btn btn-sm mr-2 mb-2 btn-outline-secondary">검색</button>
                </form>
                <!-- // 게시글 검색 -->

                <!-- 게시글 목록 -->
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="boardDto : ${boardDtoList}">
                                <td th:text="${boardDto.id}">번호</td>
                                <td>
                                    <a href="#" th:href="@{/board/{boardId}(boardId=${boardDto.id})}" th:text="${boardDto.title}">제목</a>
                                </td>
                                <td th:text="${boardDto.writer}"></td>
                                <td th:text="${boardDto.regdate}"></td>
                                <td th:text="${boardDto.views}"></td>
                                <td>
                                    <a style="text-decoration:none" th:if="${#authentication.name == boardDto.writer}"
                                        th:href="@{/board/edit/{boardId}(boardId=${boardDto.id})}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- // 게시글 목록 -->
                <!-- 게시글 작성 -->
                <div class="text-right">
                    <a href="#" th:href="@{/board/add}" class="btn btn-outline-primary mt-2">작성하기</a>
                </div>
                <!-- // 게시글 작성 -->
                <!-- 페이징 처리 -->
                <nav aria-label="Page navigation example" th:if="${boardDtoList.totalElements != 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${1 == boardDtoList.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link" th:href="@{/board(page=${boardDtoList.pageable.pageNumber}-1, searchTerm=${param.searchTerm})}" tabindex="-1" aria-disabled="true">이전</a>
                        </li>
                        <li class="page-item" th:classappend="${page == boardDtoList.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link" th:href="@{/board(page=${page} - 1, searchTerm=${param.searchTerm})}" th:text="${page}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${boardDtoList.totalPages == boardDtoList.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link" th:href="@{/board(page=${boardDtoList.pageable.pageNumber} + 1, searchTerm=${param.searchTerm})}">다음</a>
                        </li>
                    </ul>
                </nav>
                <!-- // 페이징 처리 -->
            </main>
        </section>
        <footer th:replace="fragments/common :: footer"/>
    </div>
</body>
</html>