<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
    <body>
        <div class="container" th:replace="fragments/common :: menu('board')"/>
        <!-- 메인 container -->
        <main role="main" class="container pt-4">
            <h3 class="pb-4 font-italic">
                Board List
            </h3>
            <!-- 게시글 검색 -->
            <form class="form-inline d-flex" method="get" th:action="@{/board}">
                <div class="mr-auto p-2">총 건수 : <span th:text="${boards.totalElements}"></span></div>
                <div class="form-group mx-sm-2 mb-2">
                    <input type="text" class="form-control form-control-sm" id="searchTerm" name="searchTerm" th:value="${param.searchTerm}">
                </div>
                <button type="submit" class="btn btn-sm mr-2 mb-2 btn-outline-secondary">검색</button>
            </form>
            <!-- // 게시글 검색 -->
            <!-- 게시글 목록 -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boards}">
                        <td th:text="${board.id}">번호</td>
                        <td><a href="#" th:href="@{/board/{boardId}(boardId=${board.id})}" th:text="${board.title}">제목</a></td>
                        <td th:text="${board.user.uid}"></td>
                    </tr>
                </tbody>
            </table>
            <!-- // 게시글 목록 -->
            <!-- 게시글 작성 -->
            <div class="text-right">
                <a href="#" th:href="@{/board/add}" class="btn btn-outline-primary">작성하기</a>
            </div>
            <!-- // 게시글 작성 -->
            <!-- 페이징 처리 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/board(page=${boards.pageable.pageNumber}-1, searchTerm=${param.searchTerm})}" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                    <li class="page-item" th:classappend="${page == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:href="@{/board(page=${page} - 1, searchTerm=${param.searchTerm})}" th:text="${page}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/board(page=${boards.pageable.pageNumber} + 1, searchTerm=${param.searchTerm})}">다음</a>
                    </li>
                </ul>
            </nav>
            <!-- // 페이징 처리 -->
        </main>
        <!--// 메인 container -->
        <footer th:replace="fragments/common :: footer"/>
    </body>
</html>