<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
    <body>
        <div class="container" th:replace="fragments/common :: menu('board')"/>
        <main role="main" class="container pt-4">
            <h3 class="pb-4 font-italic">
                Board Post
            </h3>
            <h6 th:if="${param.saved}">게시글 저장이 완료 되었습니다.</h6>
            <h6 th:if="${param.edited}">게시글 수정이 완료 되었습니다.</h6>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" value="title" th:value="${board.title}" readonly>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" rows="3" value="content" th:text="${board.content}" readonly></textarea>
            </div>
            <div class="text-right">
                <a href="#" th:href="@{/board}" class="btn btn-outline-secondary">목록으로</a>
                <a href="#" th:href="@{/board/edit/{boardId}(boardId=${board.id})}" class="btn btn-outline-primary">수정하기</a>
                <a th:onclick="|deletePost(${board.id})|" sec:authorize="hasRole('ROLE_USER')" class="btn btn-outline-danger">삭제하기</a>
            </div>
        </main>
        <footer th:replace="fragments/common :: footer"/>
    </body>
    <script>
        function deletePost(id) {
            // DELETE /board/delete/{boardId}
            $.ajax({
                url: '/board/delete/' + id,
                type: 'DELETE',
                success: function (){
                    alert('삭제 되었습니다.');
                    window.location.href = '/board';
                }
            });
        };
    </script>
</html>