<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/common :: head('board - 콘아롱 책방')"/>
<body>
<div class="container" th:replace="fragments/common :: menu('board')"/>
<main role="main" class="container pt-4">
    <div class="container" data-aos="fade-up">
        <h3 class="pb-1 font-italic">Register a book</h3>
        <p class="mb-5">모든 책의 항목을 상세하게 적어주시기 바랍니다.</p>
        <form action="#" th:action="@{/store/add}" th:object="${book}" method="post">
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">제목</p>
                    <input type="text" class="form-control" th:field="*{title}" placeholder="제목을 입력해주세요.">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">부제목</p>
                    <input type="text" class="form-control" th:field="*{subTitle}" placeholder="부제목을 입력해주세요.">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">저자</p>
                    <input type="text" class="form-control" th:field="*{author}" placeholder="저자를 입력해주세요.">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">수량</p>
                    <input type="number" class="form-control" th:field="*{quantity}" placeholder="수량을 입력해주세요.">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">출판사</p>
                    <input type="text" class="form-control" th:field="*{publisher}" placeholder="출판사를 입력해주세요.">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">발행일</p>
                    <input type="date" class="form-control" th:field="*{publishedDate}">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">가격</p>
                    <input type="number" class="form-control" th:field="*{price}" placeholder="가격을 입력해주세요.">
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">할인율</p>
                    <select class="custom-select" th:field="*{disRate}">
                        <option value="0" selected>0%</option>
                        <option value="5">5%</option>
                        <option value="10">10%</option>
                        <option value="15">15%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">할인가</p>
                    <input type="number" class="form-control" th:field="*{disPrice}" disabled>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">배송비</p>
                    <select class="custom-select" th:field="*{shippingFee}">
                        <option value="0" selected>무료배송</option>
                        <option value="2000">2000원</option>
                        <option value="3000">3000원</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <p class="my-1">이미지</p>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fileImage" th:field="*{imageUrl}">
                            <label class="custom-file-label " for="fileImage" aria-describedby="inputGroupFileAddon02">선택된 파일이 없습니다.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-3 form-group">
                <p class="my-1">설명 및 줄거리</p>
                <textarea class="form-control" th:field="*{content}" placeholder="설명 및 줄거리를 간략하게 입력해주세요."></textarea>
            </div>
            <div class="pb-5 text-right">
                <a th:href="@{/store/manageList}" class="btn btn mr-2 mb-2 btn-outline-secondary">돌아가기</a>
                <button type="submit" class="btn btn mr-2 mb-2 btn-outline-primary">등록하기</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/common :: footer"/>
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>