<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('store - 콘아롱 책방')"/>
	<body>
		<div id='wrap'>
			<section>
				<div class="container" th:replace="fragments/common :: menu('basket')"/>
					<main role="main" class="container pt-4">

						<h3 class="pb-4 font-italic">MY BASKET!</h3>

						<!-- 장바구니 목록 -->
						<div class="row pt-4 d-flex justify-content-center">
							<div class="col-md-10 order-md-2 mb-4">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-muted">내 장바구니 목록</span>
									<span class="badge badge-secondary badge-pill" th:text="|${basketDtoList.size()}개의 상품이 있습니다|">총갯수</span>
								</h4>
								<ul class="list-group mb-3" th:each="basketDto : ${basketDtoList}">
									<li class="col list-group-item d-flex justify-content-between lh-condensed">
										<div class="col-mb-1">
											<img th:src="'/files/' + ${basketDto.thumbnailName}" style="width: 60px; height: 60px">
										</div>
										<div class="col-mb-1" style="align-self:center;">
											<span class="my-0" th:text="${basketDto.title}">책제목</span>
										</div>
										<div class="col-mb-1" style="align-self:center;">
											<div class="d-flex justify-content-center" id="cntParent">
												<button class="btn-light border" onclick='count(this)'>-</button>
												<span class="mx-2" maxlength="3" th:text="${basketDto.quantity}">수량</span>
												<button class="btn-light border" onclick='count(this)'>+</button>
											</div>
										</div>
										<div class="col-mb-1" style="align-self:center; display: inline-grid;">
											<small class="text-muted" th:text="|상품가격 : ${basketDto.price}원|">가격</small>
											<small class="text-muted" th:text="|적용된 할인률 : ${basketDto.disRate}%|">할인률</small>
										</div>
										<div class="col-mb-1" style="align-self:center;">
											<span id="disPrice" th:text="'구매가：&#8361;' + ${basketDto.disPrice * basketDto.quantity}">구매가</span>

										</div>
										<div class="col-mb-1" style="align-self:center;">
											<button type="button" class="btn btn-sm btn-outline-danger" th:onclick="|deleteBasket(${basketDto.id})|">삭제하기</button>
										</div>
									</li>
								</ul>

								<ul class="list-group mb-3">
									<li class="list-group-item d-flex justify-content-center lh-condensed">
										<span th:text="'총 결제가격：&#8361;' + ${totalPrice} + ' + 배송비?'"></span>
									</li>
								</ul>

								<form class="card p-2">
									<div class="input-group">
										<button class="btn btn-primary btn-block" type="submit">구매하기</button>
									</div>
								</form>

							</div>
						</div>
				</main>
			</section>
			<footer class="blog-footer" th:replace="fragments/common :: footer"/>
		</div>
	</body>
<script>
    /* 장바구니 삭제 api */
    function deleteBasket(basketId) {
        if(confirm("해당 상품을 삭제하시겠습니까?") == true){
            $.ajax({
                url: '/api/basket/' + basketId,
                type: 'DELETE',
                success: function (){
                    alert('삭제 되었습니다');
                    window.location.href = '/user/basket';
                },
                error: function (){
                    alert("delete error");
                }
            });
        }
    };
    <!-- 수량 증/감 및 자동 구매가 계산 -->
    function count(e) {

        if(e.textContent == '-'){
            console.log("마이너스 "+e.textContent)
	        let cnt = Number($(e).element);
            if(cnt == 1) return;
            $(e).next().text(cnt - 1);


        }else{
            console.log("플러스 "+e.textContent)
            let cnt = Number($(e).prev().text());
            $(e).prev().text(cnt + 1);
        }


        // let disPrice = document.getElementById('disPrice').value;
        // if (type === 'plus') {
        //     cnt = parseInt(cnt) + 1;
        // } else if (type === 'minus') {
        //     cnt = parseInt(cnt) - 1;
        // }
        // if(cnt >= 1) {
        //     if(cnt == 0) return;
        //     document.getElementById('cnt').value = cnt;
        //     document.getElementById('totalPrice').innerText = '￦ ' + (disPrice * cnt).toLocaleString();
        // }
    }
</script>
</html>