<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('store - 콘아롱 책방')"/>
	<body>
		<div id='wrap'>
			<section>
				<div class="container" th:replace="fragments/common :: menu('basket')"/>
					<main role="main" class="container pt-4">

						<h3 class="pb-4 font-italic">MY BASKET!</h3>

						<!-- 장바구니 목록 -->
						<div class="row pt-4 d-flex justify-content-center">
							<div class="col-md-10 order-md-2 mb-4">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-muted">나의 장바구니 목록</span>
									<span class="badge badge-secondary badge-pill" th:text="|${basketDtoList.size()}개의 상품이 있습니다|">총갯수</span>
								</h4>
								<ul class="list-group mb-3" th:each="basketDto : ${basketDtoList}">
									<li class="col list-group-item d-flex justify-content-between lh-condensed">
										<div class="col-0 pr-2">
											<a th:href="@{/store/{bookId}(bookId=${basketDto.bookId})} + '?type=A'">
												<img style="width: 60px; height: 60px" th:if="${!basketDto.thumbnailType.contains('http:')}"
												     th:src="'/files/' + ${basketDto.thumbnailType}">
												<img style="width: 60px; height: 60px" th:if="${basketDto.thumbnailType.contains('http:')}"
												     th:src="${basketDto.thumbnailType}">
											</a>
										</div>
										<div class="col-2" style="align-self:center;">
											<a th:href="@{/store/{bookId}(bookId=${basketDto.bookId})} + '?type=A'">
												<span th:text="${basketDto.title}">책제목</span>
											</a>
										</div>
										<div class="col-2" style="align-self:center;">
											<small class="text-muted" th:text="|주문수량 : ${basketDto.quantity}|">수량</small>
										</div>
										<div class="col-3" style="align-self:center; display: inline-grid;">
											<small class="text-muted" th:text="|상품가격 : ${#numbers.formatInteger(basketDto.price, 0, 'COMMA')}원|">가격</small>
											<small class="text-muted" th:text="|* 적용된 할인률 : ${basketDto.disRate}%|">할인률</small>
										</div>
										<div class="col-3" style="align-self:center;">
											<span id="disPrice" th:text="'구매가：&#8361; ' + ${#numbers.formatInteger(basketDto.disPrice * basketDto.quantity, 0, 'COMMA')}">구매가</span>

										</div>
										<div class="col-2 pl-2" style="align-self:center;">
											<button type="button" class="btn btn-sm btn-outline-danger" th:onclick="|deleteBasket(${basketDto.id})|">삭제하기</button>
										</div>
									</li>
								</ul>

								<ul class="list-group mb-3">
									<li class="list-group-item d-flex justify-content-center lh-condensed">
										<span th:if="${basketDtoList.size() != 0}">
											<strong th:text="'총 구매가격：&#8361; ' + ${#numbers.formatInteger(totalPrice, 0, 'COMMA')}"></strong>
										</span>
										<span th:if="${basketDtoList.size() == 0}">
											<strong>장바구니가 비어있습니다</strong>
										</span>
									</li>
								</ul>

								<div class="input-group">
									<button type="button" class="btn btn-primary btn-block" th:onclick="|askOrder()|">전체 주문하기</button>
								</div>

							</div>
						</div>
				</main>
			</section>
			<footer class="blog-footer" th:replace="fragments/common :: footer"/>
		</div>
	</body>
<script>

    /* 장바구니 주문 api */
	function askOrder(){
        if([[${basketDtoList.size()}]] == 0){
            alert("장바구니가 비어있습니다 ")
        }else{
            if(confirm("상품을 전체 주문하시겠습니까?") == true){
                $.ajax({
                    url: '/api/basket/order',
                    type: 'POST',
                    success: function (){
                        alert("정상적으로 주문되었습니다.")
                        window.location.href = '/order';
                    },
                    error: function (){
                        alert("post error");
                    }
                });
            }
        }
	}

    /* 장바구니 삭제 api */
    function deleteBasket(basketId) {
        if(confirm("해당 상품을 삭제하시겠습니까?") == true){
            $.ajax({
                url: '/api/basket/' + basketId,
                type: 'DELETE',
                success: function (){
                    alert('삭제 되었습니다');
                    window.location.href = '/basket';
                },
                error: function (){
                    alert("delete error");
                }
            });
        }
    }
</script>
</html>