<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('store - 콘아롱 책방')"/>
<body>
<div id='wrap'>
	<section>
		<div class="container" th:replace="fragments/common :: menu('order')"/>
		<main role="main" class="container pt-4">
			<h3 class="pb-4 font-italic">ALL ORDERS</h3>

			<div class="row d-flex justify-content-center">
				<div class="pt-4 mx-4" style="width: 500px" th:each="orderDto: ${orderDtoList}">
					<div class="col card mb-4 shadow-sm text-center" style="padding-left: inherit; padding-right: inherit">
						<div class="card-header">
							<h4 class="font-weight-normal">주문정보</h4>
							<span class="text-muted" th:text="'상태 : ' + ${orderDto.status}"></span>
						</div>
						<div class="card-body">
							<div class="row d-flex justify-content-center">
								<h3>결제금액：</h3>
								<h3 th:text="'&#8361;' + ${orderDto.totalPrice}">합계금액</h3>
							</div>
							<ul class="list-unstyled mt-3">
								<div>
									<table class="table">
										<tr>
											<th scope="col">번호</th>
											<th scope="col">제목</th>
											<th scope="col">수량</th>
											<th scope="col">가격</th>
										</tr>
										<tr th:each="orderBook, iterState : ${orderDto.orderBooks}">
											<td th:text="${iterState.index + 1}"></td>
											<td th:text="${orderBook.book.title}"></td>
											<td th:text="${orderBook.count}"></td>
											<td th:text="'&#8361;' + ${orderBook.book.disPrice}"></td>
										</tr>
									</table>
								</div>
							</ul>
							<hr>
							<div class="row d-flex justify-content-end align-items-center">
							<span class="text-muted" th:text="'주문일시 : ' + ${#temporals.format(orderDto.orderDate, '20'+'yy-mm-dd HH:mm')}"></span>
								<div class="col-lg-4 col-md-6">
									<button type="button" class="btn btn-outline-danger" th:onclick="|deleteOrder(${orderDto.id})|">주문취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
	</section>
	<footer class="blog-footer" th:replace="fragments/common :: footer"/>
</div>
</body>
<script>
    /* 주문내역 삭제 api */
    function deleteOrder(orderId) {
        if(confirm("해당 주문내역을 삭제 하시겠습니까?") == true){
            $.ajax({
                url: '/api/board/' + orderId,
                type: 'DELETE',
                success: function (){
                    alert('삭제 되었습니다');
                    window.location.href = '/board';
                },
                error: function (){
                    alert("delete error");
                }
            });
        }
    };
</script>
</html>