<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('store - 콘아롱 책방')"/>
<body>
<div id='wrap'>
	<section>
		<div th:with="menu = ${type.toString()}">
			<div class="container" th:replace="fragments/common :: menu(${menu})"/>
		</div>

		<!-- 메인 container -->
		<main role="main" class="container pt-4">
			<div class="mt-3 mr-5 d-flex d-flex justify-content-between">
				<div class="d-flex align-items-end">
					<h4 th:if="${type.equals('A')}" >모든 도서</h4>
					<h4 th:if="${type.equals('K')}" >국내 도서</h4>
					<h4 th:if="${type.equals('F')}" >외국 도서</h4>
					<h4 th:if="${type.equals('D')}" >신작 도서</h4>
				</div>
				<div>
					<div class="mr-2">
						<small>검색가능 여부 : 제목, 작가명, 출판사</small>
					</div>
					<div class="mb-1">
						<strong th:if="${type.equals('A')}">* 모든도서 내에서 검색하기</strong>
						<strong th:if="${type.equals('K')}">* 국내도서 내에서 검색하기</strong>
						<strong th:if="${type.equals('F')}">* 외국도서 내에서 검색하기</strong>
						<strong th:if="${type.equals('D')}">* 신작도서 내에서 검색하기</strong>
					</div>
				</div>
			</div>

			<!-- 게시글 검색 -->
			<form class="form-inline d-flex" method="get" th:action="@{/store}">
				<div class="mr-auto p-2">
					<strong th:text="|총 건수 : ${bookDtoList.totalElements}|"></strong>
				</div>
				<div class="form-group mx-sm-2 mb-2">
					<input type="hidden" name="type" th:value="${param.type}">
					<input type="text" class="form-control form-control-sm" id="searchTerm" name="searchTerm" th:value="${param.searchTerm}">
				</div>
				<button type="submit" class="btn btn-sm mr-2 mb-2 btn-outline-secondary">검색</button>
			</form>
			<!-- // 게시글 검색 -->

			<hr class="mb-4">

			<!-- 결과 리스트 -->
			<div class="d-flex justify-content-center pt-5" th:if="${bookDtoList.getTotalElements() == 0}">
				<div class="col-md-7">
					<div class="text_none2">
						<h3>
							<strong style="color: #f74451" th:text="|'${param.searchTerm}'|"></strong> 에 대한 검색결과가 없습니다.
						</h3>
						<p>
							1. 검색어의 <strong>철자가 정확한지</strong> 다시 한번 확인해주세요.<br />
							2. 검색어의 <strong>단어 수를 줄이거나</strong>, 띄어쓰기를 해주세요
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" th:each="bookDto : ${bookDtoList}">
					<div class="row no-gutters border rounded overflow-hidden mb-3">
						<div class="col-sm-8 d-flex flex-column bd-highlight">
							<div class="text-muted mx-2 pt-2">
								<span th:if="${bookDto.type.toString().equals('DOMESTIC')}">국내도서</span>
								<span th:if="${bookDto.type.toString().equals('INTERNATIONAL')}">외국도서</span>
							</div>
							<div class="mx-2 pt-2">
								<a style="text-decoration:none" th:href="@{/store/{bookId}(bookId=${bookDto.id},
									type=(${type} == 'A' ? 'A' : (${type} == 'K' ? 'K' : (${type} == 'F' ? 'F' : 'D'))))}">
									<h4 th:text="${bookDto.title}">제목</h4>
								</a>
							</div>
							<div class="mx-2">
								<a style="text-decoration:none" th:href="@{/store/{bookId}(bookId=${bookDto.id},
								   type=(${type} == 'korea' ? 'K' : (${type} == 'foreign' ? 'F' : 'A')))}">
									<span th:text="${bookDto.subTitle}">부제목</span>
								</a>
							</div>
							<div class="mx-2">
								<small style="color: #3a60df" th:text="${bookDto.author} + ' 지음'">작가</small>
							</div>
							<div class="mx-2 mb-auto">
								<small class="text-muted" th:text="'발행일 : ' + ${bookDto.publishedDate}">발행일</small>
							</div>
							<div class="mx-2 pb-2">
								<hr class="mb-2">
								<span th:text="'판매가 : ' + ${#numbers.formatInteger(bookDto.disPrice, 0, 'COMMA')} + '원'">가격</span>
								<small class="mx-0" style="color: #dc3545" th:text="|(${bookDto.disRate}% 할인)|">할인률</small>
							</div>
							<div class="mx-2 pb-2">
								<button href="#" type="button" class="btn btn-sm btn-outline-secondary"
								        sec:authorize="isAnonymous()" th:onclick="|addBasket(${bookDto.id},'anonymous')|">장바구니</button>
								<button href="#" type="button" class="btn btn-sm btn-outline-success"
										sec:authorize="isAnonymous()" th:onclick="|addOrder(${bookDto.id},'anonymous')|">구매하기</button>
								<button href="#" type="button" class="btn btn-sm btn-outline-secondary"
								        sec:authorize="!isAnonymous()" th:onclick="|addBasket(${bookDto.id},'user')|">장바구니</button>
								<button href="#" type="button" class="btn btn-sm btn-outline-success"
								        sec:authorize="!isAnonymous()" th:onclick="|addOrder(${bookDto.id},'user')|">구매하기</button>
							</div>
						</div>

							<div class="col-sm-4">
								<a th:href="@{/store/{bookId}(bookId=${bookDto.id}, type=(${type} == 'A' ? 'A' : (${type} == 'K' ? 'K' : (${type} == 'F' ? 'F' : 'D'))))}">
									<img class="col" style="padding: 0; height: 285px; border:solid 3px; border-color:#6c757d;"
									     th:if="${!bookDto.thumbnailType.contains('http:')}" th:src="'/thumbnail/' + ${bookDto.thumbnailType}"/>
									<img class="col" style="padding: 0; height: 285px; border:solid 3px; border-color:#6c757d;"
									     th:if="${bookDto.thumbnailType.contains('http:')}" th:src="${bookDto.thumbnailType}"/>
								</a>
							</div>
					</div>
				</div>
			</div>
			<!--// 결과 리스트 -->

			<hr class="mb-4">

			<!-- 페이징 처리 -->
			<nav aria-label="Page navigation example" th:if="${bookDtoList.getTotalElements() != 0}">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${1 == bookDtoList.pageable.pageNumber + 1} ? 'disabled'">
						<a class="page-link" th:href="@{/store(type=${param.type}, page=${bookDtoList.pageable.pageNumber}-1, searchTerm=${param.searchTerm})}" tabindex="-1" aria-disabled="true">이전</a>
					</li>
					<li class="page-item" th:classappend="${page == bookDtoList.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
						<a class="page-link" th:href="@{/store(type=${param.type}, page=${page} - 1, searchTerm=${param.searchTerm})}" th:text="${page}">1</a>
					</li>
					<li class="page-item" th:classappend="${bookDtoList.totalPages == bookDtoList.pageable.pageNumber + 1} ? 'disabled'">
						<a class="page-link" th:href="@{/store(type=${param.type}, page=${bookDtoList.pageable.pageNumber} + 1, searchTerm=${param.searchTerm})}">다음</a>
					</li>
				</ul>
			</nav>
			<!-- // 페이징 처리 -->

		</main>
		<!--// 메인 container -->
	</section>
	<footer class="blog-footer" th:replace="fragments/common :: footer"/>
</div>
</body>
<script>

    /* 장바구니 담기 api */
    function addBasket(bookId, auth) {
        if(auth == 'user'){
	        let cnt = 1;
	        if(confirm("장바구니에 담으시겠습니까?") == true){
		        $.ajax({
		            url: '/api/basket/' + bookId,
		            type: 'post',
		            data: {
		                cnt : parseInt(cnt)
		            },
		            success: function () {
		                alert("장바구니에 추가되었습니다")
		            },
		            error: function () {
		                console.error();
		                alert("post error");
		            }
		        });
	        }
        }else{
            if(confirm("로그인이 필요한 기능입니다\n로그인 하시겠습니까?") == true){
                window.location.href = '/login';
            }else{
                return;
            }
        }
    };

    /* 구매하기 api */
    function addOrder(bookId, auth) {
        if(auth == 'user'){
            let cnt = 1;
            if(confirm("바로 구매 하시겠습니까?") == true){
                $.ajax({
                    url: '/api/order/' + bookId,
                    type: 'post',
                    data: {
                        cnt : parseInt(cnt)
                    },
                    success: function () {
                        alert("정상적으로 주문되었습니다.");
	                    window.location.href = '/order';
                    },
                    error: function () {
                        console.error();
                        alert("post error");
                    }
                });
            }
        }else{
            if(confirm("로그인이 필요한 기능입니다\n로그인 하시겠습니까?") == true){
                window.location.href = '/login';
            }else{
                return;
            }
        }
    };
</script>
</html>
