<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('store - 콘아롱 책방')"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/kyoboCustom.css}" href="../css/kyoboCustom.css" rel="stylesheet">
<body>
<div id='wrap'>
	<section>
		<div th:with="menu = (${param.type.get(0)} == 'K' ? 'koreaBook' : (${param.type.get(0)} == 'F' ? 'foreignBook' : 'allBook'))">
			<div class="container" th:replace="fragments/common :: menu(${menu})"/>
		</div>
		<main role="main" class="container row pt-4" style="margin-right: auto; margin-left: auto;">

			<!-- 우측상단 장바구니 목록 -->
			<div class="col-md-4 order-md-2 mb-4">
				<div class="d-flex justify-content-between align-items-center">
					<h4 class="text-muted mx-1">나의 장바구니 목록</h4>
					<h6 class="badge badge-danger badge-pill mx-1" th:if="${basketDtoList.size() != 0}" th:text="${basketDtoList.size()}">장바구니 수량</h6>
				</div>

				<ul class="list-group mb-3" th:if="${basketDtoList.size() != 0}">
					<li class="list-group-item d-flex justify-content-between" th:each="basketDto : ${basketDtoList}">
						<div>
							<h6 class="my-1" th:text="${basketDto.title}">책제목</h6>
							<small class="text-muted" style="display: grid;"
							       th:text="|* 상품가격 : ${#numbers.formatInteger(basketDto.disPrice, 0, 'COMMA')}원|">상품가격</small>
							<small class="text-muted" style="display: grid;"
							       th:text="|* 주문수량 : ${basketDto.quantity}개|">주문수량</small>
							<small class="text-muted" style="display: grid;"
							       th:text="|* 구매가격 : ${#numbers.formatInteger(basketDto.disPrice * basketDto.quantity, 0, 'COMMA')}원|">구매가격</small>
						</div>
						<!-- 장바구니 책 삭제 버튼-->
						<div class="d-flex align-items-center">
							<button class="btn btn-outline-danger rounded-circle" type="button" th:onclick="deleteBasket([[${basketDto.id}]], [[${bookId}]], [[${param.type}]])">
								<i class="fa fa-trash"></i>
							</button>
						</div>
					</li>
					<li class="list-group-item d-flex justify-content-between bg-light">
						<strong>총 구매가</strong>
						<strong th:text="'&#8361; ' + ${#numbers.formatInteger(totalPrice, 0, 'COMMA')}">총가격</strong>
					</li>
				</ul>
				<ul class="list-group mb-3" th:if="${basketDtoList.size() == 0}">
					<li class="list-group-item d-flex justify-content-center">
						<strong sec:authorize="isAuthenticated()">장바구니가 비어있습니다</strong>
						<strong sec:authorize="!isAuthenticated()">로그인이 필요한 기능입니다</strong>
					</li>
				</ul>
				<form class="card p-2" id="basketOrder" th:action="@{/basket}" method="post" sec:authorize="isAuthenticated()">
					<div class="input-group d-flex ">
						<a th:href="@{/basket}" class="col btn btn-sm btn-secondary mr-auto">장바구니 보기</a>
					</div>
					<div class="input-group d-flex mt-2">
						<button type="button" class="col btn btn-sm btn-primary"   th:onclick="|askOrder()|">전체 주문하기</button>
					</div>

				</form>
			</div>
			<!--// 우측상단 장바구니 목록 -->

			<div class="col-md-8 order-md-1">
				<div class="row">
					<h4 class="ml-3 mr-2 mb-3">책 정보</h4>
					<small class="d-flex align-items-center" th:text="|등록일 : ${bookDto.regDate}|"></small>
				</div>
					<!-- 책 정보 -->
					<div class="row">
						<div class="col-md-6 form-group">
							<img class="form-control" style="width: inherit; height: inherit;"
							     th:if="${!bookDto.thumbnailType.contains('http:')}" th:src="'/files/' + ${bookDto.thumbnailType}">
							<img class="form-control" style="width: inherit; height: inherit;"
							     th:if="${bookDto.thumbnailType.contains('http:')}" th:src="${bookDto.thumbnailType}">
						</div>
						<div class="col-md-6 form-group">
							<h6 class="mb-3" th:text="${bookDto.type} + ' 도서'">타입</h6>
							<hr class="mb-4">
							<h3 class="mb-3" th:text="${bookDto.title}">제목</h3>
							<h5 class="mb-3" th:text="${bookDto.subTitle}">부제목</h5>
							<h5 class="mb-3" th:text="${bookDto.author}">저자</h5>
							<hr class="mb-4">
							<h6 class="mb-3" th:text="|원가 : ${#numbers.formatInteger(bookDto.price, 0, 'COMMA')} 원|">가격</h6>
							<h6 class="mb-3" th:text="|할인률 : ${bookDto.disRate}%|">할인률</h6>
							<h6 class="mb-3" th:text="|할인가 : ${#numbers.formatInteger(bookDto.disPrice, 0, 'COMMA')} 원|">할인가</h6>
							<input type="hidden" id="disPrice" th:value="${bookDto.disPrice}">
							<hr class="mb-4">
							<h6 class="mb-3" th:text="|출판사 : ${bookDto.publisher}|">출판사</h6>
							<h6 class="mb-3" th:text="|발행일 : ${bookDto.publishedDate}|">발행일</h6>
							<hr class="mb-4">
							<div class="order-md-2">
								<h4 class="d-flex justify-content-between align-items-center">
									<span class="badge badge-secondary" style="font-weight: 500"
									      th:text="|현재 재고량 : ${bookDto.quantity} 개|"></span>
								</h4>
							</div>
						</div>
					</div>
					<!--// 책 정보 -->

					<hr class="mb-3 mt-3">

					<!-- 수량 및 합계금액 -->
					<div class="d-flex justify-content-between">
						<div class="col-4 justify-content-center d-flex align-items-center">
							<strong>주문 수량</strong>
						</div>
						<div class="col-4 d-flex justify-content-center">
							<input type='button' class="col-md-2 btn btn-light border border-dark" onclick='count("minus")' value='- '/>
							<input type="text" class="col-md-2 btn-sm mx-1 text-center" id="cnt" name="cnt" value="1" maxlength="3">
							<input type='button' class="col-md-2 btn btn-light border border-dark" onclick='count("plus")' value='+ '/>
						</div>
						<div class="col-4 d-flex justify-content-center align-items-center">
							<strong>합계 가격　:　</strong>
							<strong id="totalPrice" th:text="'&#8361; ' + ${#numbers.formatInteger(bookDto.disPrice, 0, 'COMMA')}"></strong>
						</div>
					</div>
					<!--// 수량 및 합계금액 -->

					<hr class="mb-4 mt-4">

					<!-- button 부분 (구매, 장바구니담기, 로그인) -->
					<div class="row pb-4">
						<!-- 회원 -->
						<div class="col-md-6 mb-3 card p-2 mr-auto" sec:authorize="isAuthenticated()">
							<div class="input-group">
								<button class="btn-sm btn-primary btn-block" type="button" th:onclick="|addOrder(${bookDto.id})|">바로 구매하기</button>
							</div>
						</div>
						<div class="col-md-6 mb-3 card p-2" sec:authorize="isAuthenticated()">
							<div class="input-group">
								<button class="btn-sm btn-success btn-block" type="button" th:onclick="addBasket([[${bookDto.id}]],[[${param.type}]])">장바구니 담기</button>
							</div>
						</div>
						<!-- 비회원 -->
						<div class="col-md mb-3 card p-2" sec:authorize="!isAuthenticated()">
							<div class="input-group">
								<a th:href="@{/account/login}" class="btn btn-block btn-primary">로그인</a>
							</div>
						</div>
					</div>
					<!--// button 부분 (구매, 장바구니담기, 로그인) -->

					<!-- 본문 내용 -->
					<div class="order-md-2 mb-4">
						<h4 class="d-flex justify-content-center mb-3">
							<span class="text-muted">책의 정보 및 줄거리</span>
						</h4>
						<hr class="my-4">
						<div class="content" th:utext="${bookDto.content}" />
					</div>
					<!--// 본문 내용 -->

					<!--// 책 정보 -->
					<hr class="mb-4">
			</div>
		</main>
	</section>
	<footer class="blog-footer" th:replace="fragments/common :: footer"/>
</div>
</body>
<script>

	/* 더보기 항목 */
    $('.btn_more').click(function(e){
        e.preventDefault();
        let $boxes = $(this).closest('.box_detail_article').find('.content');
        let isFirst = $boxes.first().is(':visible');
        let speed = isFirst ? 300 : 0;
        $('body, html').animate({ scrollTop: $(this).closest('.box_detail_article').offset().top -30 -50 }, speed);
        $boxes.eq( isFirst ? 0 : 1 ).hide();
        $boxes.eq( isFirst ? 1 : 0 ).show();
    });

    /* 수량 증/감 및 자동 합계금액 계산 */
    function count(type) {
        let cnt = document.getElementById('cnt').value;
        let disPrice = document.getElementById('disPrice').value;
        if (type === 'plus') {
            cnt = parseInt(cnt) + 1;
        } else if (type === 'minus') {
            cnt = parseInt(cnt) - 1;
        }
        if(cnt >= 1) {
            if(cnt == 0) return;
            document.getElementById('cnt').value = cnt;
            document.getElementById('totalPrice').innerText = '￦ ' + (disPrice * cnt).toLocaleString();
        }
    }

    /* 장바구니 주문 api */
    function askOrder(){
        if([[${basketDtoList.size()}]] == 0){
            alert("장바구니가 비어있습니다 ")
        }else{
            if(confirm("상품을 전체 주문하시겠습니까?") == true){
                $.ajax({
                    url: '/api/basket/order',
                    type: 'POST',
                    success: function (){
                        alert("정상적으로 주문되었습니다.")
                        window.location.href = '/order';
                    },
                    error: function (){
                        alert("post error");
                    }
                });
            }
        }
    }

    /* 장바구니 담기 api */
    function addBasket(bookId, type) {
        let cnt = document.getElementById('cnt').value;
        $.ajax({
            url: '/api/basket/' + bookId,
            type: 'POST',
            data: {
                cnt : parseInt(cnt)
            },
            success: function () {
                window.location.href = '/store/' + bookId + '?type=' + type;
            },
            error: function () {
                console.error();
                alert("post error");
            }
        });
    };

    /* 장바구니 삭제 api */
    function deleteBasket(basketId, bookId, type) {
        $.ajax({
            url: '/api/basket/' + basketId,
            type: 'DELETE',
            success: function (){
                window.location.href = '/store/' + bookId + '?type=' + type;
            },
            error: function (){
                alert("delete error");
            }
        });
    }

    /* 구매하기 api */
    function addOrder(bookId) {
        let cnt = document.getElementById('cnt').value;
        if(confirm("바로 구매 하시겠습니까?") == true){
            $.ajax({
                url: '/api/order/' + bookId,
                type: 'POST',
                data: {
                    cnt : parseInt(cnt)
                },
                success: function () {
                    alert("정상적으로 주문되었습니다.")
                },
                error: function () {
                    console.error();
                    alert("post error");
                }
            });
        }
    };
</script>
</html>