<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>505 Error Page</title>
	<link th:href="@{/css/error.css}" href="../css/error.css" rel="stylesheet">
	<link th:href="@{/css/blog.css}" href="../css/blog.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
</head>
<body class="loading">
<h1>505</h1>
<h4 style="text-align: center">문제가 발생했습니다</h4>
<h4 style="text-align: center">죄송합니다<b> :(</b></h4>
<div class="gears">
	<div class="gear one">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
	<div class="gear two">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
	<div class="gear three">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
	<a style="text-decoration: none" th:href="@{/}"><h4 style="text-align: center">메인으로</h4></a>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="js/main.js" type="text/javascript"></script>
<script>
    $(function() {
        setTimeout(function(){
            $('body').removeClass('loading');
        }, 1000);
    });
</script>
</body>
</html>