<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('회원가입 - 콘아롱 책방')">
</head>
<link th:href="@{/css/login_register.css}" rel="stylesheet">
<body>
    <div id='wrap'>
        <section>
            <div class="container" style="text-align:center;">
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-center align-items-center">
                        <div class="col-4 text-center">
                            <a th:href="@{/}" class="blog-header-logo text-dark">Cornarong BookStore</a>
                        </div>
                    </div>
                </header>
            </div>
            <div class="container">
                <div class="py-5 text-center">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 order-md-1">
                        <h3 class="mb-3"><strong>회원가입</strong></h3>
                        <hr>
                        <form class="needs-validation" th:action="@{/account/register}" th:object="${userDto}" method="post" enctype="multipart/form-data">

                        <!-- 아이디, 비밀번호 -->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="uid">아이디</label>
                                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('uid')} ? 'is-invalid'"
                                           id="uid" th:field="*{uid}" placeholder="아이디를 입력해주세요">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}">에러 메시지</p>
                                    <p id="uidDuplicateCheck" style="font-size: 80%;"></p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="password">비밀번호</label>
                                    <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                                           id="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요" autocomplete="new-password">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">에러 메시지</p>
                                </div>
                            </div>
                        <!--// 아이디, 비밀번호 -->

                        <!-- 이름, 닉네임 -->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="name">이름</label>
                                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                                           id="name" th:field="*{name}" placeholder="이름을 입력해주세요">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">에러 메시지</p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="nickname">닉네임</label>
                                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nickname')} ? 'is-invalid'"
                                           id="nickname" th:field="*{nickname}" placeholder="닉네임을 입력해주세요">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">에러 메시지</p>
                                </div>
                            </div>
                        <!--// 이름, 닉네임 -->

                        <!-- 생년월일, 휴대전화 -->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="birth">생년월일</label>
                                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('birth')} ? 'is-invalid'"
                                           id="birth" th:field="*{birth}" pattern="[1-9]{4}-[0-9]{2}-[0-9]{2}" maxlength="10" placeholder="'-' 제외하고 숫자만 입력해주세요">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">에러 메시지</p>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="phone">휴대전화</label>
                                    <input type="tel" class="form-control" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid'"
                                           id="phone" th:field="*{phone}" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" maxlength="13" placeholder="'-' 제외하고 숫자만 입력해주세요">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">에러 메시지</p>
                                </div>
                            </div>
                        <!--// 생년월일, 휴대전화-->

                        <!-- 성별 -->
                            <label>성별</label>
                            <input type="hidden" th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid'">
                            <p class="invalid-feedback" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">에러 메시지</p>
                            <div class="d-block mb-3">
                                <div class="custom-control custom-radio">
                                    <input id="man" type="radio" th:field="*{gender}" class="custom-control-input"
                                           th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid'"value="남자">
                                    <label class="custom-control-label" for="man">남성</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="woman" type="radio" th:field="*{gender}" class="custom-control-input"
                                           th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid'"value="여자">
                                    <label class="custom-control-label" for="woman">여성</label>
                                </div>
                            </div>
                        <!--// 성별 -->

                        <!-- 이메일 -->
                            <div class="mb-4">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="ex) cornarong@naver.com">
                            </div>
                        <!--// 이메일 -->

                        <!-- 주소 검색 API -->
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label>주소</label>
                                    <input type="button" class="btn btn-sm mr-3 btn-outline-secondary" onclick="execDaumPostcode()" value="주소 검색"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control mb-1" th:classappend="${#fields.hasErrors('postcode')} ? 'is-invalid'"
                                           id="postcode" th:field="*{postcode}" placeholder="우편번호">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">에러 메시지</p>
                                    <input type="text" class="form-control mb-1" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'"
                                           id="address" th:field="*{address}" placeholder="주소">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">에러 메시지</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <input type="text" class="form-control" id="detailAddress" th:field="*{detailAddress}" placeholder="상세주소">
                            </div>
                        <!--// 주소 검색 API -->

                        <!-- 프로필 사진, 미리보기 -->
                            <div class="mb-4">
                                <label for="profile">이미지</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="profile" th:field="*{profile}" th:onchange="'javascript:fileUpload(event)'" accept="image/*">
                                    <label class="custom-file-label" for="profile">파일을 선택하세요.</label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="my-1">프로필 미리보기</label>
                                <img class="form-control" id="profile_container" th:src="@{/images/noImage.jpg}" style="max-width: 50%; height: auto;">
                            </div>
                        <!--// 프로필 사진, 미리보기 -->

                            <div class="pb-5 text-right">
                                <a th:href="@{/account/login}" class="btn btn mr-2 mb-2 btn-outline-secondary">이전으로</a>
                                <button type="submit" class="btn btn mr-2 mb-2 btn-outline-primary">완료</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="fragments/common :: footer"/>
    </div>
</body>
    <!-- javascript -->
<script>
    /* 아이디 중복 검사 */
    $("#uid").blur(function() {
        let uid = $('#uid').val();
        if(uid === '' || uid.length === 1){ // 공백 및 길이 제한
            $('#uid').addClass('is-invalid');
            $('#uidDuplicateCheck').css("color","#dc3545");
            $('#uidDuplicateCheck').text("* 아이디는 두글자 이상이어야 합니다");
            return;
        }
        $.ajax({
            url : '/account/uidDuplicateCheck/' + uid,
            type : 'get',
            success : function(data) {
                if(data === "1"){
                    $('#uid').addClass('is-invalid');
                    $('#uidDuplicateCheck').css("color","#dc3545");
                    $('#uidDuplicateCheck').text("* 이미 사용중인 아이디입니다");
                }else{
                    $('#uid').removeClass('is-invalid');
                    $('#uidDuplicateCheck').css("color","#0d0de7");
                    $('#uidDuplicateCheck').text("* 사용 가능한 아이디입니다");
                }
            }, error : function() {
                console.log("에러 발생");
            }
        });
    });

    /* 파일이미지 업로드 */
    function fileUpload(event){
        if(document.getElementById("profile").files[0] !== undefined){
            let fileName = document.getElementById("profile").files[0].name;
            let fileType = document.getElementById("profile").files[0].type;
            if(fileType.indexOf('image') == -1){
                alert("이미지 파일만 업로드 가능합니다.")
                $('#profile').val('');
                $('#profile').next('.custom-file-label').html("파일을 선택하세요.");
                document.getElementById("profile_container").src = "../../images/noImage.jpg";
                return false;
            }
            $('#profile').next('.custom-file-label').html(fileName);
            /* 썸네일 미리보기 */
            for (let profile of event.target.files) {
                let reader = new FileReader();
                reader.onload = function(event) {
                    document.getElementById("profile_container").src = event.target.result;
                };
                reader.readAsDataURL(profile);
            }
        }
    }
</script>
<!-- 카카오 우편번호 서비스 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/kakao_postcode.js}"></script>
<!-- 생년월일/전화번호 하이픈(-) 자동 처리 -->
<script th:src="@{/js/auto_hypen.js}"></script>
</html>
