<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('콘아롱 책방')"/>
<body>
<div id='wrap'>
	<section>
		<div class="container" th:replace="fragments/common :: menu('home')"/>

		<!-- 메인 스크린 썸네일. -->
		<div class="container pt-4">
			<div class="jumbotron index-img">
				<h1 class="display-3 blog-header-logo text-dark font-weight-bold">Welcome To Cornarong</h1>
				<h1 class="display-3 blog-header-logo text-dark font-weight-bold">Cornarong BookStore</h1>
				<hr class="my-4">
			</div>
		</div>
		<!--// 메인 스크린 썸네일 -->

		<!-- 메인 container -->
		<main role="main" class="container">
			<div class="row">
				<div class="col-md-9 blog-main">

					<div class="mb-4 border-bottom">
						<div class="d-flex justify-content-between">
							<h4 class="d-flex align-items-end"><strong>오늘의 추천도서</strong></h4>
							<a class="d-flex align-items-end" style="text-decoration:none" th:href="@{/store}">도서 전체보기</a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6" th:each="bookDto,bookDtoStat : ${bookDtoList}" th:unless="${bookDtoStat.index > 5}">
							<div class="row no-gutters border rounded overflow-hidden mb-3">
								<div class="col-sm-7 d-flex flex-column bd-highlight">
									<div class="text-muted mx-2 pt-2">
										<small style="font-weight: bold" th:if="${bookDto.type.toString().equals('DOMESTIC')}">국내도서</small>
										<small style="font-weight: bold" th:if="${bookDto.type.toString().equals('INTERNATIONAL')}">외국도서</small>
									</div>
									<div class="mx-2 pt-2">
										<a style="text-decoration:none" th:href="@{/store/{bookId}(bookId=${bookDto.id}, type=('A'))}">
											<h4 th:text="${bookDto.title}">제목</h4>
										</a>
									</div>
									<div class="mx-2">
										<a style="text-decoration:none" th:href="@{/store/{bookId}(bookId=${bookDto.id}, type=('A'))}">
											<span th:text="${bookDto.subTitle}">부제목</span>
										</a>
									</div>
									<div class="mx-2">
										<small style="color: #3a60df" th:text="${bookDto.author} + ' 지음'">작가</small>
									</div>
									<div class="mx-2 mb-auto">
										<small class="text-muted" th:text="'발행일 : ' + ${bookDto.publishedDate}">발행일</small>
									</div>
									<div class="mx-2 pb-2">
										<hr class="mb-2">
										<small th:text="'판매가 : ' + ${#numbers.formatInteger(bookDto.disPrice, 0, 'COMMA')} + '원'">가격</small>
										<small class="mx-0" style="color: #dc3545" th:text="|(${bookDto.disRate}% 할인)|">할인률</small>
									</div>
									<div class="mx-2 pb-2">
										<button href="#" type="button" class="btn btn-sm btn-outline-secondary"
										        sec:authorize="isAnonymous()" th:onclick="|addBasket(${bookDto.id},'anonymous')|">장바구니</button>
										<button href="#" type="button" class="btn btn-sm btn-outline-success"
										        sec:authorize="isAnonymous()" th:onclick="|addOrder(${bookDto.id},'anonymous')|">구매하기</button>
										<button href="#" type="button" class="btn btn-sm btn-outline-secondary"
										        sec:authorize="!isAnonymous()" th:onclick="|addBasket(${bookDto.id},'user')|">장바구니</button>
										<button href="#" type="button" class="btn btn-sm btn-outline-success"
										        sec:authorize="!isAnonymous()" th:onclick="|addOrder(${bookDto.id},'user')|">구매하기</button>
									</div>
								</div>

								<div class="col-sm-5">
									<a th:href="@{/store/{bookId}(bookId=${bookDto.id}, type=('A'))}">
										<img class="col" style="padding: 0; height: 260px; border:solid 3px; border-color:#6c757d;"
										     th:if="${!bookDto.thumbnailType.contains('http:')}" th:src="'/thumbnail/' + ${bookDto.thumbnailType}"/>
										<img class="col" style="padding: 0; height: 260px; border:solid 3px; border-color:#6c757d;"
										     th:if="${bookDto.thumbnailType.contains('http:')}" th:src="${bookDto.thumbnailType}"/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 우측 사이드 바 -->
				<aside class="col-md-3 blog-sidebar">
					<div class="p-4 mb-3 index-img4">
						<h5><strong>개발자(만든이)</strong></h5>
						<li><a target="_blank" href="#" th:href="@{'https://cornarong.tistory.com'}">Blog</a></li>
						<li><a target="_blank" href="#" th:href="@{'https://github.com/cornarong/bookstore'}">GitHub</a></li>
					</div>
					<div class="p-4 index-img3">
						<h4><strong>신규등록도서</strong></h4>
						<div class="mb-0" th:each="bookDtoDesc : ${bookDtoListDesc}">
							<li class="my-2"><a href="#" th:href="@{/store/{bookId}(bookId=${bookDtoDesc.id}, type=('A'))}"
							       style="text-decoration:none" th:text="${bookDtoDesc.title}">제목</a></li>
						</div>
					</div>
				</aside>
				<!--//  우측 사이드 바  -->

			</div>
		</main>
	</section>
	<!--// 메인 container -->
	<footer th:replace="fragments/common :: footer"/>
</div>
</body>
<script>
    /* 장바구니 담기 api */
    function addBasket(bookId, auth) {
        if(auth == 'user'){
            let cnt = 1;
            if(confirm("장바구니에 담으시겠습니까?") == true){
                $.ajax({
                    url: '/api/basket/' + bookId,
                    type: 'post',
                    data: {
                        cnt : parseInt(cnt)
                    },
                    success: function () {
                        alert("장바구니에 추가되었습니다")
                    },
                    error: function () {
                        console.error();
                        alert("post error");
                    }
                });
            }
        }else{
            if(confirm("로그인이 필요한 기능입니다\n로그인 하시겠습니까?") == true){
                window.location.href = '/account/login';
            }else{
                return;
            }
        }
    };

    /* 구매하기 api */
    function addOrder(bookId, auth) {
        if(auth == 'user'){
            let cnt = 1;
            if(confirm("바로 구매 하시겠습니까?") == true){
                $.ajax({
                    url: '/api/order/' + bookId,
                    type: 'post',
                    data: {
                        cnt : parseInt(cnt)
                    },
                    success: function () {
                        alert("정상적으로 주문되었습니다.");
                        window.location.href = '/order';
                    },
                    error: function () {
                        console.error();
                        alert("post error");
                    }
                });
            }
        }else{
            if(confirm("로그인이 필요한 기능입니다\n로그인 하시겠습니까?") == true){
                window.location.href = '/account/login';
            }else{
                return;
            }
        }
    };
</script>
</html>